<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.haroon.client">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Subject_list"
            android:exported="false" />
        <activity
            android:name=".History_record_overview"
            android:exported="false" />
        <activity
            android:name=".Save_success"
            android:exported="false" />
        <activity
            android:name=".Every_record_overview_fall_down"
            android:exported="false" />
        <activity
            android:name=".Every_record_overview"
            android:exported="false" />
        <activity
            android:name=".Record_overview"
            android:exported="false" />
        <activity
            android:name=".Problem_item_fall_down"
            android:exported="false" />
        <activity
            android:name=".Problem_item_fill_in"
            android:exported="false" />
        <activity
            android:name=".Check_history"
            android:exported="false" />
        <activity
            android:name=".Symptom_choose"
            android:exported="false" />
        <!--
activity
            android:name=".actvity_symptom_choose"
            android:exported="false" /
        -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>